.jump {
	position: relative;

	.title {
		display: block;

		span {
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}

	.sub-title { 
		font-size: 20px; 
	}

	.thumb {
		float: left;
		width: 50%;

		img {
			display: inline-block;
			font-size: 20px;
			color: blue;
		}
	}
}

#hook-responsive-sm-only() {

	.hook-radio(){
		display: block;
	}
}